/.idea/.idea.ShouldAssertions/.idea
/ShouldAssertions/bin/Debug
/ShouldAssertions/bin/Release
/ShouldAssertions/obj/Debug
/ShouldAssertions/obj/Release
/ShouldAssertionsTest/bin/Debug
/ShouldAssertionsTest/bin/Release
/ShouldAssertionsTest/obj/Debug
/ShouldAssertionsTest/obj/Release
/TestReport.xml
/TestResult.xml
/coverage
/ShouldAssertionsTest/TestReport.xml
